.ff0 {
    font-family: sans-serif;
    visibility: hidden;
}

@font-face {
    font-family: ff1;
    src: url(f1.woff) format("woff");
}

.ff1 {
    font-family: ff1;
    line-height: 1.484375;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff2;
    src: url(f2.woff) format("woff");
}

.ff2 {
    font-family: ff2;
    line-height: 1.453125;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

.m0 {
    transform: matrix(0.250000, 0.000000, 0.000000, 0.250000, 0, 0);
    -ms-transform: matrix(0.250000, 0.000000, 0.000000, 0.250000, 0, 0);
    -webkit-transform: matrix(0.250000, 0.000000, 0.000000, 0.250000, 0, 0);
}

.v0 {
    vertical-align: 0.000000px;
}

.ls1 {
    letter-spacing: 0.000000px;
}

.ls0 {
    letter-spacing: 6.000000px;
}

.sc_ {
    text-shadow: none;
}

.sc0 {
    text-shadow: -0.015em 0 transparent, 0 0.015em transparent, 0.015em 0 transparent, 0 -0.015em transparent;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .sc_ {
        -webkit-text-stroke: 0px transparent;
    }

    .sc0 {
        -webkit-text-stroke: 0.015em transparent;
        text-shadow: none;
    }
}

.ws0 {
    word-spacing: 0.000000px;
}

.fc0 {
    color: rgb(0, 0, 0);
}

.fs3 {
    font-size: 28.000000px;
}

.fs2 {
    font-size: 32.000000px;
}

.fs1 {
    font-size: 40.000000px;
}

.fs0 {
    font-size: 48.000000px;
}

.y12 {
    bottom: -5.060000px;
}

.y11 {
    bottom: 3.400000px;
}

.yd {
    bottom: 3.410000px;
}

.y4 {
    bottom: 3.470000px;
}

.yb {
    bottom: 4.210000px;
}

.ye {
    bottom: 4.220000px;
}

.y2 {
    bottom: 4.410000px;
}

.y20 {
    bottom: 6.230000px;
}

.y9 {
    bottom: 6.240000px;
}

.y7 {
    bottom: 18.370000px;
}

.y6 {
    bottom: 27.910000px;
}

.y2a {
    bottom: 379.730000px;
}

.y24 {
    bottom: 394.500000px;
}

.y23 {
    bottom: 402.400000px;
}

.y0 {
    bottom: 417.000000px;
}

.y29 {
    bottom: 444.920000px;
}

.y28 {
    bottom: 464.770000px;
}

.y22 {
    bottom: 467.600000px;
}

.y27 {
    bottom: 478.940000px;
}

.y26 {
    bottom: 481.770000px;
}

.y21 {
    bottom: 487.440000px;
}

.y25 {
    bottom: 493.110000px;
}

.y1f {
    bottom: 501.620000px;
}

.y1e {
    bottom: 504.450000px;
}

.y1d {
    bottom: 515.790000px;
}

.y1c {
    bottom: 527.130000px;
}

.y1b {
    bottom: 538.470000px;
}

.y1a {
    bottom: 549.810000px;
}

.y19 {
    bottom: 561.140000px;
}

.y18 {
    bottom: 572.480000px;
}

.y17 {
    bottom: 583.820000px;
}

.y16 {
    bottom: 595.160000px;
}

.y15 {
    bottom: 606.500000px;
}

.y14 {
    bottom: 617.840000px;
}

.y13 {
    bottom: 629.180000px;
}

.ya {
    bottom: 649.020000px;
}

.y10 {
    bottom: 660.360000px;
}

.yf {
    bottom: 671.690000px;
}

.yc {
    bottom: 683.030000px;
}

.y3 {
    bottom: 714.210000px;
}

.y5 {
    bottom: 719.880000px;
}

.y8 {
    bottom: 728.390000px;
}

.y1 {
    bottom: 742.560000px;
}

.h9 {
    height: 12.840000px;
}

.h4 {
    height: 15.670000px;
}

.h2 {
    height: 18.510000px;
}

.ha {
    height: 28.957031px;
}

.h8 {
    height: 29.832031px;
}

.h7 {
    height: 33.093750px;
}

.h6 {
    height: 38.350000px;
}

.h5 {
    height: 42.617188px;
}

.h3 {
    height: 51.140625px;
}

.h1 {
    height: 346.500000px;
}

.hb {
    height: 369.000000px;
}

.h0 {
    height: 792.000000px;
}

.w4 {
    width: 20.220000px;
}

.w12 {
    width: 52.520000px;
}

.w13 {
    width: 55.360000px;
}

.we {
    width: 61.030000px;
}

.w11 {
    width: 63.860000px;
}

.w10 {
    width: 66.700000px;
}

.w7 {
    width: 69.530000px;
}

.wb {
    width: 72.370000px;
}

.w6 {
    width: 80.870000px;
}

.w9 {
    width: 81.300000px;
}

.w3 {
    width: 97.880000px;
}

.wd {
    width: 103.550000px;
}

.w5 {
    width: 117.720000px;
}

.wa {
    width: 126.660000px;
}

.wc {
    width: 129.060000px;
}

.wf {
    width: 188.590000px;
}

.w17 {
    width: 191.420000px;
}

.w14 {
    width: 242.450000px;
}

.w8 {
    width: 279.300000px;
}

.w15 {
    width: 313.310000px;
}

.w16 {
    width: 494.730000px;
}

.w1 {
    width: 556.500000px;
}

.w2 {
    width: 557.090000px;
}

.w0 {
    width: 612.000000px;
}

.x4 {
    left: 3.060000px;
}

.xf {
    left: 9.260000px;
}

.xd {
    left: 18.210000px;
}

.x1b {
    left: 22.410000px;
}

.xb {
    left: 25.140000px;
}

.x14 {
    left: 27.210000px;
}

.x0 {
    left: 28.500000px;
}

.x12 {
    left: 31.350000px;
}

.x16 {
    left: 34.380000px;
}

.x13 {
    left: 39.060000px;
}

.x1e {
    left: 42.900000px;
}

.x15 {
    left: 45.740000px;
}

.x18 {
    left: 48.570000px;
}

.x17 {
    left: 54.420000px;
}

.x1d {
    left: 60.330000px;
}

.x7 {
    left: 96.130000px;
}

.x1 {
    left: 164.060000px;
}

.x1c {
    left: 206.680000px;
}

.x2 {
    left: 225.070000px;
}

.x5 {
    left: 240.580000px;
}

.x6 {
    left: 280.380000px;
}

.xa {
    left: 283.210000px;
}

.x19 {
    left: 339.910000px;
}

.xc {
    left: 342.740000px;
}

.x8 {
    left: 385.260000px;
}

.x1a {
    left: 407.940000px;
}

.xe {
    left: 410.770000px;
}

.x9 {
    left: 456.130000px;
}

.x11 {
    left: 473.140000px;
}

.x3 {
    left: 481.640000px;
}

.x10 {
    left: 529.830000px;
}

@media print {
    .v0 {
        vertical-align: 0.000000pt;
    }

    .ls1 {
        letter-spacing: 0.000000pt;
    }

    .ls0 {
        letter-spacing: 8.000000pt;
    }

    .ws0 {
        word-spacing: 0.000000pt;
    }

    .fs3 {
        font-size: 37.333333pt;
    }

    .fs2 {
        font-size: 42.666667pt;
    }

    .fs1 {
        font-size: 53.333333pt;
    }

    .fs0 {
        font-size: 64.000000pt;
    }

    .y12 {
        bottom: -6.746667pt;
    }

    .y11 {
        bottom: 4.533333pt;
    }

    .yd {
        bottom: 4.546667pt;
    }

    .y4 {
        bottom: 4.626667pt;
    }

    .yb {
        bottom: 5.613333pt;
    }

    .ye {
        bottom: 5.626667pt;
    }

    .y2 {
        bottom: 5.880000pt;
    }

    .y20 {
        bottom: 8.306667pt;
    }

    .y9 {
        bottom: 8.320000pt;
    }

    .y7 {
        bottom: 24.493333pt;
    }

    .y6 {
        bottom: 37.213333pt;
    }

    .y2a {
        bottom: 506.306667pt;
    }

    .y24 {
        bottom: 526.000000pt;
    }

    .y23 {
        bottom: 536.533333pt;
    }

    .y0 {
        bottom: 556.000000pt;
    }

    .y29 {
        bottom: 593.226667pt;
    }

    .y28 {
        bottom: 619.693333pt;
    }

    .y22 {
        bottom: 623.466667pt;
    }

    .y27 {
        bottom: 638.586667pt;
    }

    .y26 {
        bottom: 642.360000pt;
    }

    .y21 {
        bottom: 649.920000pt;
    }

    .y25 {
        bottom: 657.480000pt;
    }

    .y1f {
        bottom: 668.826667pt;
    }

    .y1e {
        bottom: 672.600000pt;
    }

    .y1d {
        bottom: 687.720000pt;
    }

    .y1c {
        bottom: 702.840000pt;
    }

    .y1b {
        bottom: 717.960000pt;
    }

    .y1a {
        bottom: 733.080000pt;
    }

    .y19 {
        bottom: 748.186667pt;
    }

    .y18 {
        bottom: 763.306667pt;
    }

    .y17 {
        bottom: 778.426667pt;
    }

    .y16 {
        bottom: 793.546667pt;
    }

    .y15 {
        bottom: 808.666667pt;
    }

    .y14 {
        bottom: 823.786667pt;
    }

    .y13 {
        bottom: 838.906667pt;
    }

    .ya {
        bottom: 865.360000pt;
    }

    .y10 {
        bottom: 880.480000pt;
    }

    .yf {
        bottom: 895.586667pt;
    }

    .yc {
        bottom: 910.706667pt;
    }

    .y3 {
        bottom: 952.280000pt;
    }

    .y5 {
        bottom: 959.840000pt;
    }

    .y8 {
        bottom: 971.186667pt;
    }

    .y1 {
        bottom: 990.080000pt;
    }

    .h9 {
        height: 17.120000pt;
    }

    .h4 {
        height: 20.893333pt;
    }

    .h2 {
        height: 24.680000pt;
    }

    .ha {
        height: 38.609375pt;
    }

    .h8 {
        height: 39.776042pt;
    }

    .h7 {
        height: 44.125000pt;
    }

    .h6 {
        height: 51.133333pt;
    }

    .h5 {
        height: 56.822917pt;
    }

    .h3 {
        height: 68.187500pt;
    }

    .h1 {
        height: 462.000000pt;
    }

    .hb {
        height: 492.000000pt;
    }

    .h0 {
        height: 1056.000000pt;
    }

    .w4 {
        width: 26.960000pt;
    }

    .w12 {
        width: 70.026667pt;
    }

    .w13 {
        width: 73.813333pt;
    }

    .we {
        width: 81.373333pt;
    }

    .w11 {
        width: 85.146667pt;
    }

    .w10 {
        width: 88.933333pt;
    }

    .w7 {
        width: 92.706667pt;
    }

    .wb {
        width: 96.493333pt;
    }

    .w6 {
        width: 107.826667pt;
    }

    .w9 {
        width: 108.400000pt;
    }

    .w3 {
        width: 130.506667pt;
    }

    .wd {
        width: 138.066667pt;
    }

    .w5 {
        width: 156.960000pt;
    }

    .wa {
        width: 168.880000pt;
    }

    .wc {
        width: 172.080000pt;
    }

    .wf {
        width: 251.453333pt;
    }

    .w17 {
        width: 255.226667pt;
    }

    .w14 {
        width: 323.266667pt;
    }

    .w8 {
        width: 372.400000pt;
    }

    .w15 {
        width: 417.746667pt;
    }

    .w16 {
        width: 659.640000pt;
    }

    .w1 {
        width: 742.000000pt;
    }

    .w2 {
        width: 742.786667pt;
    }

    .w0 {
        width: 816.000000pt;
    }

    .x4 {
        left: 4.080000pt;
    }

    .xf {
        left: 12.346667pt;
    }

    .xd {
        left: 24.280000pt;
    }

    .x1b {
        left: 29.880000pt;
    }

    .xb {
        left: 33.520000pt;
    }

    .x14 {
        left: 36.280000pt;
    }

    .x0 {
        left: 38.000000pt;
    }

    .x12 {
        left: 41.800000pt;
    }

    .x16 {
        left: 45.840000pt;
    }

    .x13 {
        left: 52.080000pt;
    }

    .x1e {
        left: 57.200000pt;
    }

    .x15 {
        left: 60.986667pt;
    }

    .x18 {
        left: 64.760000pt;
    }

    .x17 {
        left: 72.560000pt;
    }

    .x1d {
        left: 80.440000pt;
    }

    .x7 {
        left: 128.173333pt;
    }

    .x1 {
        left: 218.746667pt;
    }

    .x1c {
        left: 275.573333pt;
    }

    .x2 {
        left: 300.093333pt;
    }

    .x5 {
        left: 320.773333pt;
    }

    .x6 {
        left: 373.840000pt;
    }

    .xa {
        left: 377.613333pt;
    }

    .x19 {
        left: 453.213333pt;
    }

    .xc {
        left: 456.986667pt;
    }

    .x8 {
        left: 513.680000pt;
    }

    .x1a {
        left: 543.920000pt;
    }

    .xe {
        left: 547.693333pt;
    }

    .x9 {
        left: 608.173333pt;
    }

    .x11 {
        left: 630.853333pt;
    }

    .x3 {
        left: 642.186667pt;
    }

    .x10 {
        left: 706.440000pt;
    }
}
